.todosContainer {
	position: absolute;
	left: 27.75%;
	width: 72.25%;
	padding: 20px;
	transition: all 0.5s ease-in-out;
	&.fullWidth {
		left: 0;
		width: 80%;
	}

	@include breakPointTwo {
		position: relative;
		left: 0;
		width: 100%;
		z-index: -2;
		&.fullWidth {
			z-index: initial;
		}
	}
}

.todoListTitle {
	display: flex;
	align-items: center;
	h1 {
		font-size: 1.4em;
		font-weight: 400;
		margin: 20px;
	}
	.count {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $blue;
		color: white;
		border-radius: 100%;
		width: 20px;
		height: 20px;
		text-align: center;
		font-size: 1em;
	}
}

.singleTodoList {
	padding: 0;
}

.addNewTodo {
	font-size: 1.2em;
	color: $blue;
	margin: 10px;
	list-style: none;
	cursor: pointer;
	i {
		margin: 0 10px;
	}
}

.todoTitle {
	cursor: pointer;
	&:hover {
		color: $blue;
	}
}