$ultraLightGray: rgb(231,231,231);
$lightGray: rgb(179,179,179);
$darkGray: rgb(156,156,156);
$blue: rgb(0,141,216);

@import 'todos';
@import 'sidebar';
@import 'modal';
@import 'singleTodo';
@import 'hamburgerIcon';

body {
	margin: 0
}

.main {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
}
