$ultraLightGray: rgb(231,231,231);
$lightGray: rgb(179,179,179);
$darkGray: rgb(156,156,156);
$blue: rgb(0,141,216);

@mixin breakPointOne {
  @media (max-width: 1025px) {
    @content;
  }
}

@mixin breakPointTwo {
  @media (max-width: 885px) {
    @content;
  }
}

@mixin breakPointThree {
  @media (max-width: 670px) {
    @content;
  }
}

@mixin breakPointFour {
  @media (max-width: 430px) {
    @content;
  }
}

@import 'todos';
@import 'sidebar';
@import 'modal';
@import 'singleTodo';
@import 'hamburgerIcon';

body {
	margin: 0
}

.main {
	font-family: sans-serif;
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}
